<aside>
    <img src="/img/gmc-logos.jpeg" alt="s" style="width: 130%;">
    <ul class="Navbar-list">
        <li><a href="/">Home</a></li>
        <li><a href="/Services">Our Services</a></li>
        <li><a href="/Contact">Contact Us</a></li>
    </ul>
</aside>