<div class="contact">
    <div class="contact-side">
        <h1>Welcome,</h1>
        <ul class="contact-list" >
            <li>agence@archi-graphi.fr</li>
            <li>+33 (0)9 67 31 08 45</li>
            <li><br></li>
            <li>Lyon</li>
            <li>31, rue Saint-Simon</li>
            <li>69009 Lyon</li>
            <li><br></li>
            <li>Paris</li>
            <li>4, place Louis Armand</li>
            <li>75012 Paris</li>
        </ul>
    </div>
    <div>
        <form class="contact-form" action="" method="post">
            <label>
                <h4>Full Name :</h4>
                <input type="text" class="text">
            </label>
            <label>
                <h4>E-mail :</h4>
                <input type="text" class="email">
            </label>
            <label>
                <h4>Write your message :</h4>
                <textarea class="message"></textarea>
            </label>
            <button type="submit" class="submit">Send your message</button>
        </form>
    </div>
</div>