<div class="services" >
<div>
    <h5>
        We believe architecture is critically <br>
important to addressing the most <br>
pressing challenges of our time.
    </h5>
</div>
<div class="service-separator" >
</div>

<div class="service-sectwo" >
    <div>
        <p>Our philosophy</p>
        <h4>Architecture provides an opportunity to not only add beauty and structure to the world, but to profoundly improve the conditions for people, communities, society, businesses and the environment.</h4>
    </div>
    <div>
        <p>Over the last 15 years, we’ve been awarded nearly 600 awards for design excellence and have placed high in nearly every industry ranking. In 2017 and 2019, Fast Company named us one of the 10 most innovative architecture firms in the world.</p>
        <p>Our in-house innovation engine
            The Yazdani Studio of CannonDesign is our in-house incubator for design exploration and innovation. <a href="http://yazdanistudio.com/">Learn more here.</a></p>
    </div>

</div>
    <div class="service-separator" >
    </div>
    <div class="service-separator" >
    </div>
    
    
    <div class="service-grid" >
        <div>
            <a href="#">
                <img src="/img/architecture-1.jpg" alt="">
            <h4>The Design/Build Advantage</h4>
            </a>
        </div>
        <div>
            <a href="">
                <img src="/img/architecture-2.jpg" alt="">
            <h4>Permit Approval</h4>
            </a>
        </div>
        <div>
            <a href="">
                <img src="/img/architecture-3.jpg" alt="">
            <h4>Contract Negotiation</h4>
            </a>
        </div>
</div>